/* Тэги */

header {
    background-color:#B6634A;
    margin-bottom:50px;
}

/* Class'ы */

.changelog {
    font-size: 24px;
    margin-top: 787px;
    margin-right: 25px;
}
.autor {
    font-size: 24px;
    margin-top: -53px;
}